* {
    margin: 0; 
    padding: 0; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #040b30;
}

.score {
    position: fixed; 
    color: white;
    top: 20px; 
    right: 20px; 
    padding: 10px; 
    background: rgba(255,255,255,0.15); 
    border-radius: 10px; 
    width: 100px; 
}
.container {
    min-height: 100vh; 
    min-width: 100vw; 
    height: 100%;
    width: 100%; 
    max-height: 100vh;
    max-width: 100vw;
    border: 1px solid black;
}


.modal {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 30vw; 
    background: white;
    border: 1px solid black; 
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.25);
}

.start, .gameOver {
    display: grid;
    gap: 20px;
}


.carrot {
    display: inline-block;
    position: absolute;
    top: 25px;
    /* top: 755px;  */
    left: 25px;  
    /* left: 910px;   */
    height: 50px; 
    width: 20px; 
    background: rgb(245, 129, 5); 
    animation: fall linear 1 forwards;
    animation-duration: 3s;
    border-radius: 5px 5px 50px 50px; 
}
 
.carrot::before, .carrot::after {
    content: ''; 
    position: absolute; 
    background: rgb(127, 187, 97); 
} 
.carrot::before {
    top: 0px; 
    height: 15px; 
    width: 10px; 
    left: 40%; 
    transform: translate(-50%, -50%);
    z-index: -2;
}
.carrot::after {
    background: rgb(104, 149, 82); 
    top: -5px; 
    height: 17px; 
    width: 10px; 
    left: 60%; 
    transform: translate(-50%, -50%);
    z-index: -3;
} 


@keyframes fall {
    to {
        top: 105vh; 
    }
}



.d-none {
    display: none;
}



.snow {
    z-index: -1;
    position: absolute;
    height: 5px; 
    width: 5px;
    background: white; 
    border-radius: 50%;
	animation: snowfall linear forwards;
}

@keyframes snowfall {
    to {
        transform: translateY(101vh);
    }
}